:host {
  display: block;
}

.feature-shell__actions button mat-icon {
  margin-right: 0.5rem;
}

.feature-shell__actions button {
  gap: 0.5rem;
}

.feature-shell__actions {
  align-items: center;
}
